<h1><%= t :faq %></h1>
<h3><%= t :markup %></h3>
<div class="row">
  <div class="col-md-offset-3 col-md-6">
  <table class="table table-striped table-bordered">
    <thead><tr>
      <th><%= t :example %></th><th><%= t :result %></th>
    </tr></thead>
    <% @examples.each do |ex| %>
      <tr>
      <td>
        <%= ex %>
      </td>
      <td>
        <%= markdown(ex) %>
      </td>
      </tr>
    <% end %>
  </table>
  </div>
</div>

<h3>Как создать доску?</h3>
<%= link_to "Так", new_path %>
