<!-- <h1><%= I18n.t 'meowta' %></h1> -->

  <div class="well">
    <h1>Meowta demo</h1>
    <p>Hi, this is demo for an anonymous board engine I wrote</p>
    <p>I wrote it because I wanted an imageboard. I shut it down, because I have no idea how to attract people to one</p>
    <p>Also, there were some features I wanted other imageboards lacked, for example, board creation and autorefreshing</p>
    <p>Maybe, one day I will return to this project. I'll have to rewrite and redo some features, though, as some of them can be done in better way</p>
    <p>Feel free to play around</p>
  </div>

  <div class="">
   <!-- Recent/random uploads -->
    <% if Upload.count > 0 %>
      <% @pics.each do |pic| %>
      <span style="width: 150px; height: 150px;">
      <%= link_to(image_tag(pic.file.url(:thumb), 
                          class: "media object"),

                pic.message.link) %>
      </span>
      <% end %>

    <% else %>
      ....*
    <% end %>
    

    <!-- Random topics -->
    <% if Topic.count > 0 %>
      <br/>
      <br/>
      <div class="list-group">
      <% @topics.each do |i| %>
      <ul class="list-group-item"><%= link_to i.messages[0].content.truncate(100),
                  i.messages[0].link %>
                  </ul>
      <% end %>
      </div>      
    <% else %>
      ....*
    <% end %>


    <!-- Description -->
  <!--  
<div class=""><%= markdown('''

**Что это?**

Мяута - это анонимный сайт для нормальных людей

**Зачем он нужен?**

Чтобы читать, смотреть и постить смешные или интересные статьи, фотографии, фотожабы, и становиться от этого счастливее

Вообще, анонимные сайты способны принести массу пользы для других людей, но, если вам приходится об этом спрашивать, к вам это не относится

В отличие от других сайтов, здесь не нужно регистрироваться и беспокоиться о карме, чтобы быть услышанным. Нет и оценочной системы - то, сколько человек увидит пост, зависит только от времени и активности его обсуждения

**БОДР vs. ОДР**

По умолчанию разделы Мяуты придерживаются философии БОДР - БезОпасный Для Работы. Это значит, что на них редко можно увидеть эротику, порно, трупы, длинные стены мата, goatse и фотографии победителя или победительницы Евровидения 2014. Мяута должна быть такой, чтобы кто-нибудь мог спокойно читать её перед начальником во время перерыва, или перед родителями в кругу семьи

**Как начать общаться**

Для этого достаточно зайти на любую доску и воспользоваться формой отправки сообщений. Но не забудьте заглянуть в правила и ЧаВо!''')
    
    %>
</div> --> <!-- Description end -->
</div>
