
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= bootstrap_form_for(@msg, url: board_messages_path(@board), html: {method: "post"}) do |f| %>
      <%= f.text_area :content, label: (t :text) %>
      <%= f.submit (t :create), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
