<div class="media ">

<%= render partial: "shared/op", object: @topic, as: :topic %>

<%= render partial: "shared/reply", collection: @topic.messages[1..-2] %>

</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= bootstrap_form_for(@msg, url: board_messages_path(@board), html: {method: "post"}) do |f| %>
      <%= f.text_area :content, label: (t :text) %>
      <%= f.hidden_field :topic_id, value: @topic.id %>
      <%= f.fields_for :uploads do |upload| %>
        <%= upload.file_field :file %>
      <% end %>
      <%= f.submit (t :create), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<% @msg.errors.full_messages.each do |x| %>
  <%= p x %>
<% end %>
