<% provide(:title, (t :log_in)) %>
<legend><%= t :log_in %></legend>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= bootstrap_form_for(:session, url: login_path) do |f| %>
      <%= f.text_field :email, label: (t :email) %>
      <%= f.password_field :password, label: (t :password) %>
      <%= f.check_box :remember_me, label: (t :remember_me), checked: "" %>
      <%= f.submit (t :log_in), class: "btn btn-primary" %>
    <% end %>

    <p><%= link_to (t :sign_up), signup_path %></p>
  </div>
</div>
