<style type="text/css">
  .simple_captcha{padding: 5px !important;}
  .simple_captcha,
  .simple_captcha div{}
  .simple_captcha .simple_captcha_field,
  .simple_captcha .simple_captcha_image{
    margin: 0px 0px 2px 0px !important;
    padding: 0px !important;
  }
  .simple_captcha .simple_captcha_image img{
    margin-left: 5px;
  }
  
  .simple_captcha .simple_captcha_label{
    font-size: 12px; 
    display: none;
  }
  
  .simple_captcha .simple_captcha_field input{
    width: 150px !important;
    font-size: 16px;
    border: none;
    background-color: #efefef;
  }
</style>

<div class='simple_captcha'>
    <label class="control-label col-sm-2" for="message_captcha"></label>
    <div class="simple_captcha_image"><%= simple_captcha_options[:image] %><%= simple_captcha_options[:refresh_button] %></div>   
    <div class="simple_captcha_field"><%= simple_captcha_options[:field] %></div>

</div>
