<%= render 'shared/board_info' %>

<div class="media" id="thread">

<%= render partial: "shared/op", object: @topic, as: :topic %>

<%= render partial: "shared/reply", collection: @replies %>

</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <legend><%= t :write_something %></legend>
  <div id="error_messages"></div>
    <%= bootstrap_form_for(@reply, url: board_msg_path(@board, @topic.id), html: {method: "post"}, layout: :horizontal) do |f| %>
      <%= f.text_area :content, label: (t :text) %>
      <%= f.hidden_field :topic_id, value: @topic.id %>
      <%= f.simple_captcha :label => "Enter symbols..", hide_label: true %>
      <%= f.fields_for :uploads do |upload| %>
        <%= upload.file_field :file %>
      <% end %>
      <%= f.submit (t :create), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
