<tr>
  <td><%= link_to user.name, user %></td>
     <% if logged_in? && current_user.admin? && !current_user?(user) %>
  <td> 
      | <%= link_to (t :delete), user, method: :delete,
                                  data: { confirm: "You sure?" } %>
    
  </td>
    <% end %>
</tr>
