<% provide(:title, :settings) %>
<legend><%= t :edit_profile %></legend>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= bootstrap_form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.text_field :name, label: (t :name) %>
      <%= f.text_field :email, label: (t :email) %>
      <%= f.password_field :password, label: (t :password) %>
      <%= f.password_field :password_confirmation, label: (t :password_confirmation) %>
      <%= f.text_area :about, label: (t :about) %>

      <%= f.submit (t :save), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
