<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<table class="table table-hover">
<tr>
  <th><%= t :user %></th>
  <% if logged_in? && current_user.admin? %><th><%= t :delete %></th><% end %>

</tr>

  <%= render @users %>

</table>

<%= will_paginate %>
