<% provide(:title, (t :sign_up)) %>
<legend><%= t :sign_up %></legend>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= bootstrap_form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.text_field :name, label: (t :name) %>
      <%= f.text_field :email, label: (t :email) %>
      <%= f.password_field :password, label: (t :password) %>
      <%= f.password_field :password_confirmation, label: (t :password_confirmation) %>
      <%= f.text_area :about, label: (t :about_user) %>
      <%= t :why_tell_about_yourself %>
      <%= show_simple_captcha %>

      <%= f.submit (t :create), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
