<h3><%= @user.name %></h3>

<legend><%= t :about_user %></legend>
<% if @user.about %>
  <%= markup(@user.about).html_safe %>
<% else %>
  Email: <%= @user.email %>
<% end %>

<legend><%= t :boards %></legend>
<table class="table table-hover">
  <%= render @boards, template: "boards/board" %>
</table>
