<nav class="nav nav-justified">
  <ul class="list-inline">
    <% if is_in_board? && 
          admin_or_board_owner?(@board) %>
      <li><%= link_to (t :edit_board), board_edit_path(@board) %></li>
    <% end %>
    <% if mod?(@board) %>
      <li><%= link_to (t :mod_board), board_mod_path(@board) %></li>
    <% end %>
  </ul>
</nav>
<h1><%= @board.title %></h1>
<h3><%= @board.description %></h3>


