<legend><%= t :write_something %></legend>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= bootstrap_form_for(message) do |f| %>
      <%= f.text_area :content, label: (t :text) %>
      <% if admin_or_board_owner?(@board) %>
        <%= f.form_group :options do %>
          <%= f.check_box :sticky, label: (t :sticky), value: true, inline: true %>
          <%= f.check_box :open, label: (t :open), value: true, checked: true, inline: true %>
        <% end %>
      <% end %>
      <% if params[:controller] == "boards" %>
        <%= f.hidden_field :board_id, value: @board.id %>
      <% elsif params[:controller] == "topics" %>
        <%= f.hidden_field :topic_id, value: @topic.id %>
      <% end %>

      <%= f.fields_for :uploads do |upload| %>
        <%= upload.file_field :file %>
      <% end %>
      <%= f.submit (t :create), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

