<% if msg.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(msg.errors.count, "error") %>.
    </div>
    <ul>
    <% msg.errors.messages.each do |i| %>
      <li><%= i[1][0] %></li>
    <% end %>
    </ul>
  </div>
<% end %>
