<div id="<%= topic.messages[0].id %>">
<div class="pull-left">
<%= render partial: 'shared/upload', collection: topic.messages[0].uploads, as: :upload %>
</div>
<div class="media-body">
<%= raw(topic.messages[0].processed_content) %>
</div>

<!-- Footer -->
<ul class="list-inline list-unstyled post-description" style="clear:both;">
            <li><%= topic.id %>-<%= link_to topic.messages[0].id, "##{topic.messages[0].id}", onclick: "quote('>>#{topic.messages[0].id}')" %></li>
            <li>|</li>
            
            <% if mod?(topic.board) %>
              <li class="ip_digest"><%= topic.messages[0].ip_digest %></li>
              <li>|</li>            
            <% end %>            
            
            <li class="public_name">
              <%= topic.messages[0].public_name %>
            </li>
            <li>|</li>
  			    <li><span><i class="glyphicon glyphicon-calendar"></i> <%= l topic.created_at %> </span></li>
            <li>|</li>



            <span><span class="glyphicon glyphicon-comment"></span>
                  <% if params[:controller] == "topics" %>
                    <%= ("#{topic.messages.count-1} " + Russian.p(topic.messages.count-1, "ответ", "ответа", "ответов")) %>
                  <% else %>
                    <%= link_to "#{topic.messages.count-1} " + Russian.p(topic.messages.count-1, "ответ", "ответа", "ответов"), 
                                   board_topic_path(topic.board, topic) %>
                  <% end %>
            </span>
</ul>
<!-- Footer end -->
</div>
