<div class="well reply col-md-offset-1" id="<%= reply.id %>">

<div class="pull-left">
  <%= render partial: 'shared/upload', collection: reply.uploads, as: :upload %>
</div>
<div class="media-body">
  <%= raw(reply.processed_content) %>
</div> 
  <!-- Footer -->
  <ul class="list-inline list-unstyled post-description">
            <li>
              <%= link_to reply.id, "##{reply.id}", onclick: "quote('>>#{reply.id}')" %>   
            </li>     
            <li>|</li>  
            
            <% if mod?(reply.topic.board) %>
              <li class="ip_digest"><%= reply.ip_digest %></li>
              <li>|</li>            
            <% end %>    
          
            <li class="public_name">
              <%= reply.public_name %>
            </li>
            <li>|</li>
  			    <li><span><i class="glyphicon glyphicon-calendar"></i> <%= l reply.created_at %> </span></li>
  </ul>
  <!-- footer end -->

</div>
