<% if upload.file.file? %>
  <div class="img-thumbnail">
    <%= link_to(image_tag(upload.file.url(:thumb), 
                          class: "media object",
                          onclick: "switch_img(event, this, '#{upload.file.url(:original)}')"),
                upload.file.url(:original),
                target: "_blank") %>
    <br/>
    <%= upload.file.content_type.gsub('image/', '') %>, <%= upload.file.size/1000 %>kb, <%= link_to "link", upload.file.url, target: "_blank" %>
  </div>
<% end %>
