<% if ip_status.expires_at > Time.now %>
<tr>
<% else %>
<tr class="success">
<% end %>
<td><%= ip_status.ip_digest %></td>
<td><%= ip_status.reason %></td>
<td><%= I18n.l ip_status.created_at %></td>
<td><%= I18n.l ip_status.expires_at %></td>
<td><% if ip_status.expires_at > Time.now %><%= dhms(ip_status.expires_at-Time.now).join(':')%><% end %></td>
<td>
<% if ip_status.expires_at < Time.now && mod?(@board) %>
  <%= form_for(ip_status, url: board_destroy_ip_status_path(@board), html: {method: "delete"}, layout: :horizontal)  do |f| %>
    <%= f.hidden_field :id, value: ip_status.id %>
    <%= f.submit (t :delete) %>
  <% end %>
<% end %>
</td>

</tr>
