<tr>
  <td><%= link_to board.title, board_path(board) %></td>
  <td><%= board.messages.where("created_at > ?", 1.days.ago).count %></td>
  <td><%= board.messages.where("created_at > ?", 7.days.ago).count %></td>
  <td><%= board.messages.count %></td>
  <td><%= !board.owner.nil? ? link_to(board.owner.name, board.owner) : nil %></td>
  <% if admin_or_board_owner?(board) %>
    <td><%= link_to (t :destroy_board), nuke_path(board), method: "delete", data: { confirm: "You sure?" } %></td>
  <% end %>
</tr>
