<tr>
  <td><%= link_to user.name, user %></td>
     <% if logged_in? && admin_or_board_owner?(@board) %>
  <td> 
      | <%= link_to (t :unassign), board_unassign_path(@board, user), method: :delete,
                                   data: { confirm: "You sure?" } %>
    
  </td>
    <% end %>
</tr>
