<% provide(:title, (t :edit_board)) %>
<legend><%= (t :edit_board) + " \"#{@board.title}\"" %></legend>

<% if admin_or_board_owner?(@board) %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= bootstrap_form_for(@board, url: board_update_path(@board), html: {method: "patch"}) do |f| %>
      <%= render 'error_messages' %>
      <%= f.text_field :title, label: (t :title) %>
      <%= f.text_area :description, label: (t :description) %>

      <%= f.submit (t :create), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<% end %>


