<%= link_to (t :create), new_path, class: "btn btn-primary btn-lg" %>

<br/>

<%= will_paginate %>

<table class="table table-hover">
  <tr>
  <th><%= t :title %></td>
  <th>24 <span class="glyphicon glyphicon-time"></span></th>
  <th>7 <span class="glyphicon glyphicon-calendar"></span></th>
  <th>Σ <span class="glyphicon glyphicon-globe"></span></th>
  <th><%= t :owner_name %></th>  
  <% if admin? %>
    <th><%= t :actions %></th> 
  <% end %>
  </tr>
  <%= render @boards %>
</table>

<%= will_paginate %>
