
<div class="row">
  <div class="col-md-6">
    <legend>Удаление постов</legend>
    <%= form_tag(destroy_msg_path, method: "delete") do %>
      <%= label_tag(t :post_id) %>
      <%= number_field_tag(:id) %>
      <%= submit_tag(t :delete) %>
    <% end %>
  </div>
  <div class="col-md-6">
    <legend>Блокировка пользователей</legend>
    <%= bootstrap_form_for(@ip_status, url: create_ip_status_path, html: {method: "post"}, layout: :horizontal) do |f| %>
      <%= f.text_field(:ip_digest) %>
      <%= f.text_field(:reason) %>
      <%= f.text_field(:days_left) %>
      <%= f.hidden_field(:board_address, value: params[board_sym]) %>
      <%= f.submit(t :to_ban) %>
    <% end %>
  </div>
</div>

<legend>Bans</legend>
<%= create_ip_digest(request.remote_ip) %>
<table class="table table-bordered table-striped">
<tr>
<th><%= t :ip_hash %></th>
<th><%= t :reason %></th>
<th><%= t :created_at %></th>
<th><%= t :expires_at %></th>
<th><%= t :time_left %></th>
<th></th>
</tr>
<%= render @ip_statuses %>
</table>
