<% provide(:title, (t :new_board)) %>
<legend><%= t :new_board %></legend>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= bootstrap_form_for(@board) do |f| %>
      <%= render 'error_messages' %>
      <%= f.text_field :title, label: (t :title) %>
      <%= f.text_field :address, label: (t :address) %>
      <%= f.text_area :description, label: (t :description) %>

      <%= f.submit (t :save), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
