<%= render 'shared/board_info' %>

<% will_paginate @topics %>

<%= render @topics %>

<% will_paginate @topics %>



<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <legend><%= t :write_something %></legend>
    <%= bootstrap_form_for(@message, url: board_path(board_address: params[board_sym]), html: {method: "post"}, layout: :horizontal) do |f| %>
      <%= f.text_area :content, label: (t :text) %>
      <% if admin_or_board_owner?(@board) %>
        <%= f.form_group :options do %>
          <%= f.check_box :sticky, label: (t :sticky), value: true, inline: true %>
          <%= f.check_box :open, label: (t :open), value: true, checked: true, inline: true %>
        <% end %>
      <% end %>

      <%= f.simple_captcha :label => "Enter symbols.." %>
      <%= f.fields_for :uploads do |upload| %>
        <%= upload.file_field :file, label: (t :file) %>
      <% end %>
      <%= f.submit (t :create), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

