<% will_paginate @users %>

<% if admin_or_board_owner?(@board) %>
    <legend><%= t :add_mod %></legend>
    <%= form_tag(board_assign_path(@board), method: "post") do %>
      <%= label_tag(t :name) %>
      <%= text_field_tag(:name) %>
      <%= submit_tag(t :name) %>
    <% end %>
<% end %>    

<table class="table table-hover">
<tr>
  <th><%= t :user %></th>
  <% if logged_in? && current_user.admin? %><th><%= t :delete %></th><% end %>

</tr>

  <%= render partial: "user", collection: @users %>

</table>

<% will_paginate @users %>
