@import "bootstrap";

.navbar {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
  color: silver;
}

//Breadcrumb gem crutch
.active {
  a:link {
    color: black;
  }
}

.alert {
  background-color:#F2DEDE;
}

.alert-success {
  background-color:#D6E9C6;
}

.reply {
  background-color:#eef2ff;
  padding-bottom: 0em;
  padding-top: 0.5em;
}

.public_name {
  font-weight: bold; 
}

/* forms */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.post-description {
  clear:both;
}

bdy {
background: -moz-linear-gradient(top, rgba(255,204,51,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,204,51,1)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,204,51,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,204,51,1) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,204,51,1) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,204,51,1) 0%,rgba(125,185,232,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc33', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
background-size:50% auto;
}

#background {
    position:fixed;
   top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    background-size:50% auto;
    background-color: pink; 
    background-repeat: no-repeat;
}

body {

}

.img-thumbnail {
  margin-right: 1em;
}

.media-body {
  height: 50px;
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  overflow: hidden;
  
}

