<footer class="footer">
    <nav class="nav nav-justified">
        <ul>
        <% Board.all[0..19].each do |x| %>
          <li class="navbar-text"><%= link_to x.address, board_path(x) %></li>
        <% end %>
        </ul>
    </nav>
        <small>
        !!!
        </small>
</footer>
