<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <%= link_to (image_tag("/logo.png", alt: "Sulfur logo", size: "35x35")), root_path, :class=>"navbar-header navbar-brand" %>

    <ul class="nav navbar-nav">
      <%= render_breadcrumbs :tag => 'li' %>
    </ul>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to (t :boards_list), boards_path %></li>
        <li><%= link_to (t :faq), faq_path  %></li>
        <% if !logged_in? %>
        <li><%= link_to (t :sign_up), signup_path %></li>
        <li><%= link_to (t :log_in), login_path %></li>
        <% else %>
              <li><%= link_to (t :profile), current_user %></li>
              <li><%= link_to (t :settings), edit_user_path(current_user) %></li>
              <li><%= link_to (t :users), users_path %></li>
              <li><%= link_to (t :log_out), logout_path, method: "delete" %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>


